/*!CK:19312809!*//*1442205042,*/

._5t4c{background-color:#fff;font-family:helvetica, arial, sans-serif;font-size:14px;-webkit-font-smoothing:antialiased;opacity:1;text-rendering:optimizeLegibility}

#bootloader_c4TPk { height: 42px; }
.bootloader_c4TPk { display:block !important; }